body {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
}


a {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


ul {
    margin: 4px auto;
    padding-left: 4px;
    list-style-position: inside;
}


#contents {
    display: inline-block;
    padding: 4px;
    border: 1px solid black;
    float: right;
    margin-left: 12px;
}


#contents ul {
    margin: 0;
}


#contents h3 {
    margin: 0;
}


h2 {
    display: inline;
    margin: 0;
}


h3, h4 {
    margin-bottom: 4px;
}


p {
    margin-top: 4px;
}


.rev_header {
    border-bottom: 1px solid black;
    margin-top: 40px;
    margin-bottom: 4px;
    position: relative;
}


.date, .version {
    font-size: 14px;
    color: #444;
}


h2, .date {
    margin-right: 24px;
}


.top_link {
    position: absolute;
    bottom: 0;
    right: 0;
}


img[width="889"][height="500"] {

}
